.main {
    position: relative;
    height: 760px;
}

.left-side {
    position: absolute;
    top: 0;
    left: 0;
    height: 760px;
    padding: 20px;
}

.right-side {
    margin-left: 380px;
    height: 760px;
}
